.addItemMargin {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.addItemMargin form {
    margin-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.displayFlex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.imgCropperPosition {
    flex: 1;
}
.addItemSubmitButton{
    justify-self: end;
    min-width: 200px;
}
.addItemsPosition {
    flex: 1;
    justify-content: end;
}

.addItemLayout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addItemLayout label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.addItemLayout select {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.addItemLayout input {
    width: 100%;
    padding: 8px;

}
.addItemLayout select {
    width: 100%;
    padding: 8px;
}

.addItemLayout textarea {
    width: 100%;
    padding: 8px;
}

.addItemsButton {
    margin-top: 20px;
    text-align: right;
}

.addItemsButton button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.imgCropperPosition label {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(169, 169, 169, 0.089);
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
}

.imgCropperPosition label:hover {
    background-color: #0056b3;
}

.imgCropperPosition label input[type="file"] {
    display: none;
}

.imgCropperPosition button {
    margin-top: 10px;
    padding: 8px 15px;
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.scsClr{
    color:#218838;
    text-wrap: wrap;
}
.addItemMargin img[alt="Cropped"] {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.errClr{
    color: rgba(255, 0, 0, 0.659);
    text-wrap: wrap;
}

@media (min-width:600px) and (hover: none) and (orientation:landscape){
    .displayFlex {
        flex-direction: column;
    }

    .imgCropperPosition,
    .addItemsPosition {
        width: 100%;
    }
    
    .addItemMargin label input {
        width: 100%;
    }
    .addItemMargin{
        overflow: auto;
    }
    .addItemMargin label textarea {
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .displayFlex {
        flex-direction: column;
    }

    .imgCropperPosition,
    .addItemsPosition {
        width: 100%;
    }

    .addItemMargin label input {
        width: 100%;
    }

    .addItemMargin label textarea {
        width: 100%;
    }

}
@media (min-width:600px) and (hover: hover){
    .addItemMargin form {
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        background-color: rgba(169, 169, 169, 0.1);
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .addItemsPosition {
        max-width: 50%;
        padding-top: 44px;
        
    }

    .imgCropperPosition {
        max-width: 50%;
    }
}