
.div-flex{
    display: flex;
}
.displayBlock{
    display: block;
    height: 100vh;
}
.borderLogin{
    border-bottom: 1px solid var(--foreground);
    border-right: 1px solid var(--foreground);
    background-color: var(--card);
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--card);   
    min-width: 400px;
}

.displayCenter{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.cardLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toggleasswordIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    min-width: 0px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    justify-content: end;
    background-color: transparent;
}
.passwordContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.toggleasswordIcon:hover {
    color: var(--button-hover);
}

@media screen and (min-width:720px){
    
    .divCenter{    
        height: 100vh;
        display: flex;
        justify-content:center;    
        align-items:center;
    }
    .inputWidth{
        min-width: 400px;
    }
    .inputHeight{
        min-height: 5vh;
    }
    .displayBlock input{
        border-radius: 6px;
        font-size: medium;
    }
    .text-allign-center{
        text-align: center;
    }
    .paddingBorder{
        padding: 10px;
    }
    .borderRadius{
        border-radius: 8px;
    }
    .paddingTop{
        padding-top: 10px;
    }
    .paddingBottom{
        padding-bottom: 10px;
    }
    .text-size{
        font-size: 20px;
    }
    .label-padding-bottom{
        padding-top: 1vh;
    }
    .displayBlock label{
        display: flex;
        flex-direction: column;
    }
    .logoDisplay{
        display: flex;
        justify-content: center;
        margin-bottom: 4vh;
        font-size: large;
    }
    .button{
        width: 100%;
        border: 0;
        height: 4vh;
        font-size: large;
        border-radius: 6px;
    }
}

.displayBlock input:hover{
    border-color: lightgray;
}

.inputStyle{
    border-radius: 6px;
    border: 0px;
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;
}