
.passwordContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}
.passwordContainer input:hover{
    border-color: var(--border);
}
.inputStyle{
    border-radius: 6px;
    border: 0px;
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;
}
.togglePasswordIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    justify-content: end;
    background-color: transparent;
}
.passwordContainer button{
    min-width: 0px;
}
.passwordContainer button:hover{
    background: transparent;
}
