.accountContentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.passwordChange,
.deleteAccount
{
    background-color: var(--card);
    padding: 8px;
    border-radius: 8px;
}
.accountContentContainer button{
    min-width: 100px;
}
.accountContentContainer{
    color: var(--text-color);
}
.passwordChange {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding-top: 16px;
}

.passwordChange>div {
    flex-grow: 1;
}

.passwordChange label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.passwordChange>div>div {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.passwordChange button {
    font-size: 16px;
    color: var(--text-color)
}

.deleteAccout {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.deleteButton {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin-bottom: 20px;
}
.passwordChange label{

    display: flex;
    flex-direction: row;
}
.deleteButtonConfirm {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 8px;
}

.deleteButtonConfirm>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deleteButtonConfirm>div:last-child {
    align-content:space-between;
}

@media (min-width:600px) and (hover:hover) {
    .passwordChange input {
        min-width: 30vw;
        height: 40px;
    }
    .deleteButtonConfirm input{
        min-width: 30vw;
        height: 40px;
    }
}

@media (min-width:600px) and (orientation:landscape) and (hover:none) {
    .accountContentContainer {
        width: 100vw
    }
    .deleteButtonConfirm input{
        min-width: 50vw;
        height: 40px;
    }
    .passwordChange input {
        min-width: 50vw;
        height: 40px;
    }
}

@media (max-width:600px) {
    .passwordChange input {
        min-width: 50vw;
        height: 40px;
    }
    .deleteButtonConfirm input{
        min-width: 50vw;
        height: 40px;
    }
    .deleteButtonConfirm>div {
        flex-direction: column;
    }
    .deleteButtonConfirm>div:last-child{
        flex-direction: row;
        justify-content: space-between;
    }
    .deleteButtonConfirm input{
        width: 100%;
    }
    .passwordChange label {
        align-items: start;
        flex-direction: column;
        font-size: 16px;
        color: var(--text-color);
        gap:4px
    }
    .passwordChange input{
        width: 92vw;
    }
    .passwordChange>div>div label{
        flex-grow: 1;
        width: 100%;
    }
}