.menuContent {
  position: relative !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--menu);
  color: var(--text-color);
  width: 100%;
  height: 8vh;
}

.menuContentStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 10px;
}
.menuContentLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  gap: 10px;
}
@media (min-width:600px) and (hover:hover){
  .userSubmenu {
    display: none;
    position: absolute;
    background-color: var(--open-menu);
    right: -30px;
    list-style: none;
    padding: 10px;
    min-width: 300px;
    z-index: 99999;
    top: 5vh
  }
}
.userSubmenu.open {
  display: block;
}

.menuContentEnd {
  display: flex;
  z-index: 99999;
}

.ulMenu {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.ulMenu li {
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.menuToggle {
  display: none;
}

.menuIcon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--text-color);
}

.lgBt {
  background: transparent;
  border: 0;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
}
.lgBt:hover{
  background: transparent;
  color: var(--foreground);
}

.hamburgerSideMenu {
  display: none;
  background-color: transparent;
  border: 0;
  font-size: 27px;
  color: var(--text-color);
  cursor: pointer;
}

.logoImage {
  width: 50px;
  height: 50px;
}

.ulFlex {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.btTxt {
  padding-top: 0.7em;
}

.userToggle {
  cursor: pointer;
  display: inline-block;
}

.imgLt {
  margin-top: 2vh;
}

.svgCl {
  filter: grayscale(10);
}

.lgImg {
  width: 30px;
  margin-right: 20px;
}

.userMenu {
  position: relative;

}

@media (min-width: 600px) and (orientation: landscape) and (hover:none) {
  .userSubmenu {
    position: static;
    padding-left: 20px;
    background-color: #444;
    right: 0;
    width: 100%;
    top: 8vh;
    padding-top: 1vh;
    margin-top: 1vh;
    padding-bottom: 1vh;
  }
  
  .logoImage {
    width: 40px;
    height: 40px;
  }
  
  .menuContentEnd {
    position: absolute;
    top: 8vh;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }
  
  .menuContentEnd.mobileMenuOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    top: 60px;
  }
  
  .menuIcon {
    display: block;
  }
  

  .ulMenu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .ulMenu li {
    margin: 10px 0;
    width: 100%;
    list-style: none;
  }
  .hamburgerSideMenu{
    display: block;
  }
}


@media (max-width: 600px)  {
  .hamburgerSideMenu {
    display: block;
  }

  .menuIcon {
    display: block;
  }

  .menuContentEnd {
    position: absolute;
    top: 8vh;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  .menuContentEnd.mobileMenuOpen {
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    top:59px;
    padding-top: 10px;
  }

  .ulMenu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .ulMenu li {
    margin: 10px 0;
    width: 100%;
    list-style: none;
  }

  .userSubmenu {
    position: relative;
    padding-left: 20px;
    background-color: #444;
    right: 0;
    width: 100%;
    padding-top: 1vh;
    margin-top: 1vh;
    padding-bottom: 1vh;
  }

  .ulFlex {
    flex-direction: column;
    align-items: flex-start;
  }

  .imgLt {
    display: none;
  }

}
.userSubmenu>li {
  margin-top: 16px;
  font-size: 16px;

}