.formating {
  font-size: medium;
}

.menuTreeContainer ul {
  list-style: none;
}

.menuCollections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editButton {
  align-self: flex-end;
  position: relative;
}

.editSvg {
  position: relative;
}

.flexEnd {
  align-self: flex-end;
}

.editMenuChoiceOpen {
  position: absolute;
  z-index: 100;
  min-width: 200px;
  right: 0px;
  bottom: 36px;
  background-color: var(--open-menu);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  font-size: large;
  border: 1px solid var(--border);
  padding: 8px;
  border-radius: 4px;
}

.editMenuChoiceClosed {
  display: none;
}

.editSvg:hover {
  cursor: pointer;
}

.menuTreeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.addItemButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.menuTreeContainer li:hover {
  cursor: pointer;
}

.flexLabel {
  display: flex;
  flex-direction: column;
}

.selectStyle,
.inputStyle {
  min-height: 4vh;
  width: 100%;
}

.buttonAddNode {
  display: inline;
  margin-left: 20px;
  min-width: 16px !important;
  min-height: 16px !important;
  width: 16px !important;
  height: 16px !important;
  background-color: transparent;
  border: 0px;
  justify-content: flex-end;
}

.checkColor {
  color: #BEBDBF;
}


.svgColorLast {
  margin-right: 5px;
}

.buttonEditNode {
  display: inline;
  margin-left: 20px;
  min-width: 16px !important;
  min-height: 16px !important;
  width: 16px !important;
  height: 16px !important;
  background: none;
  background-color: transparent !important;
  justify-content: flex-end;
  border: none
}



.editItemContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editItemContainer p {
  text-wrap: wrap;
}

.editItemContainer input {
  min-height: 4vh;
  font-size: 16px;
}

.menuTreeContainer li {
  -webkit-tap-highlight-color: transparent;
}

.clickRedirect:active {
  background-color: #0070f3;
  opacity: 50%;
}

.acceptDeleteDiv {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.displayButtonConfirm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pageLayout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.editItemContainer button,
.editItemContainer p {
  margin: 10px;
}

.menuTreeContainer button {
  margin: 0 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0070f3;
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

.editItemContainer label {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:600px) and (hover: hover) {
  .bVisibility {
    visibility: hidden ;
  }
}

@media screen and (min-width: 600px) and (orientation:landscape) and (hover: none){
  .bVisibility {
    all: unset !important;
    background-color: transparent;
    border: 0px;
  }
}
@media screen and (max-width:600px){
  .bVisibility {
  all:unset !important;
  background-color: transparent;
  border: 0px;
}
} 

.menuTreeContainer li {
  margin-top: 5px;
  font-size: large;
}