.preferencesStyleContainer>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    margin-top: 10px;
    background-color: var(--card);
    padding: 8px;
    border-radius: 8px;
}
.preferencesStyleContainer>div>div:last-child{
    display: flex;
    flex-direction: column;
    gap:2px
}
.preferencesStyleContainer>div>div:last-child>div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}