.editItem {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.editItem form {
    margin-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.displayFlex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.imgCropperPosition {
    flex: 1;
}

.selectedImage {
    position: relative;
    display: inline-block;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.garbageBinIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 999;
    padding: 3px;
    border-radius: 8px;
    background-color: rgba(169, 169, 169, 0.5);
}

.addItemSubmitButton {
    justify-self: end;
    min-width: 200px;
}

.imgCropperPosition label input[type="file"] {
    display: none;
}

.imgCropperPosition label {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(169, 169, 169, 0.089);
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
}

.addItemsPosition {
    flex: 1;
}

.deleteButton {
    justify-self: end;
}

.deleteButton button {
    width: 100px;
    min-height: 0px;
    height: 40px;
}

.imgCropperContainer {
    margin-top: 20px;
}

.addItemLayout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addItemLayout>div {
    display: flex;
    flex-direction: column;
}

.addItemLayout label {
    font-weight: bold;
    margin-bottom: 5px;
}

.btnLt {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.addItemLayout input,
.addItemLayout textarea,
.addItemLayout select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.addItemsButton {
    margin-top: 20px;
    text-align: right;
}

.addItemsButton button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.smallImages {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 10px;
}

.smallImages>div {
    cursor: pointer;
}

.smallImages>div>img {
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.smallImages>div>img:hover {
    border-color: #007bff;
}

.selectedImage {
    margin-top: 20px;
    text-align: center;
}


@media (min-width:600px) and (hover: none) and (orientation:landscape) {
    .imgCropperCosition {

        width: 100%;
    }

    .addItemsPosition {
        width: 100%;
    }

    .displayFlex {
        flex-direction: column;
    }
}

@media (min-width:600px) and (hover: hover) {

    .displayFlex {
        max-width: 1200px;
    }

    .addItemsPosition {
        max-width: 50%;
    }

    .imgCropperPosition {

        max-width: 50%;
    }

    .editItem form {
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        background-color: rgba(169, 169, 169, 0.1);
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .addItemsPosition {
        max-width: 50%;
    }

    .imgCropperPosition {
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .displayFlex {
        flex-direction: column;
    }

    .imgCropperPosition,
    .addItemsPosition {
        max-width: 100%;
        width: 100%;
    }

    .addItemsPosition {
        padding-top: 44px;
    }

    .imgCropperPosition {
        flex: none;
    }

    .imgCropper {
        max-width: 100vh;
    }

    .smallImages {
        max-width: 100vh;
    }
}