.itemPageWrapper {
    position: relative;
    padding: 20px;
}

.divDisplayPageLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}

.imageCaruselComponent {
    flex: 1;
    max-width: 40%;
}

.itemDetailsComponent {
    min-width: 40vw;
}

.itemPageContentArea>div:first-child {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}



.itemPageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemPageDataLayout {
    display: flex;
    padding: 5px 0;
    text-wrap: wrap !important;
}
.elementSize{
    min-width:100px;
}
.itemPageData-layout>div:last-child{
    flex-grow: 1;
    min-width: 100px;
}
.editBtnLt {
    position: absolute;
    background-color: var(--button);
    padding: 4px;
    border: 0px;

}
.goBackBtn{
    position: absolute;
    background-color: var(--button);
    padding: 4px;
    border: 0px;
}

.elementSize:first-child {
    font-weight: bold;
    margin-right: 10px;

}

.itemPageContentArea {
    position: relative;
}

.itemPageDescription {
    justify-content: center;
    margin-top: 20px;
}

.itemPageDescription>div:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.textWrap {
    text-wrap: wrap;
    overflow: hidden;
}

.elPos {
    position: relative;
}


.dispTxt {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 8px;
    background-color: transparent;
    background: transparent;

}

@media (max-width: 600px) {
    .divDisplayPageLayout {
        flex-direction: column;
    }

    .editBtnLt {
        margin-right: 1vw;
    }

    
    .elementSize:first-child {
        width: 60%;
    }

    .itemPageData-layout {
        justify-content: start;
        padding: 5px 0;
    }

    .imageCaruselComponent,
    .itemDetailsComponent {
        max-width: 100%;
        width: 100%;
    }

    .imageCaruselComponent {
        flex: none;
    }
    .editBtnLt {
        top: -35px;
        right: 0px;
        margin-right: 5vw;
    }
    .goBackBtn{
        top:-35px;
    }
    .itemPageWrapper {
        margin-top: 50px;
    }
}

@media (min-width:600px) and (hover:hover) {
    .elementSize:first-child {
        width: 30vw;
    }

    .itemPageDescription {

        margin-left: 4vh;
    }

    .imageCaruselComponent {
        aspect-ratio: 4/3;
    }

    .descriptionLayout {
        margin-top: 3vh;
        min-width: 50%;
        display: flex;
        justify-content: center;

    }

    .itemDetailsComponent {
        width: 30vw;
    }

    .itemPageDataLayout {
        min-width: 300px;
    }

    .itemPageDescription {
        width: 45%;
    }

    .editBtnLt {
        top: -35px;
        right: 0px;
        margin-right: 12vw;
    }
    .goBackBtn{
        top:-35px;
        left:9vw
    }

    .itemPageWrapper {
        margin-top: 50px;
    }

}

@media (min-width:600px) and (hover: none) and (orientation:landscape) {
    .divDisplayPageLayout {
        flex-direction: column;
    }

    .editBtnLt {
        top: -35px;
        right: 10px;
        margin-right: 8vw;
    }

    .goBackBtn{
        top:-35px;
        left:9vw       
    }
    .itemPageWrapper {
        margin-top: 50px;
    }

    .elementSize:first-child {
        width: 60%;
    }

    .itemPageDataLayout {
        justify-content: start;
        padding: 5px 0;
    }

    .imageCaruselComponent,
    .itemDetailsComponent {
        max-width: 100%;
        width: 100%;
    }

    .imageCaruselComponent {
        flex: none;
    }

    .itemPageDescription {
        width: 95vw;
    }
}

.itemPageDescription a {
    text-decoration: underline;
}

.itemPageDescription a:hover {
    color: var(--foreground);
}