.inputBorder{
    border-radius: 6px;
    border: 0px;
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.displayBlock label{
    display: flex;
    flex-direction: column;
}
.logoDisplay{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
    font-size: large;
}
.errorMessage{
    color:rgba(255, 0, 0, 0.69);
    font-size: 15px;
}

.cardLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.displayBlock{
    display: block;
    height: 100vh;
    overflow: auto;
}
.SBS{
    width: 100%;
    border: 0;
    min-height: 44px;
    font-size: large;
    border-radius: 6px;
}

.textCenter{
    display: flex;
    justify-content: center;
}
.passwordContainer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.togglePasswordIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}

@media (max-width:600px) {
    .divCenter{    
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content:center;    
        align-items:center;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .inputWidth{
        min-width: 100vw;
    }
    .inputHeight{
        min-height: 5vh;
    }
    .divBorder{
        padding-top: 3vh;
        padding-bottom: 3vh;
        background-color: rgba(169, 169, 169, 0.1);
        border-bottom: 1px solid white;
    }
}
@media (min-width:600px) {
    .inputWidth{
        min-width: 100%;
    }
    .inputHeight{
        min-height: 5vh;
    }

    .divBorder{
        padding: 20px;
        min-width: 400px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        background-color: rgba(169, 169, 169, 0.1);
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .divCenter{    
        height: 100vh;
        display: flex;
        justify-content:center;    
        align-items:center;
        flex-wrap: wrap;
        flex-direction: column;   
    }    
}
